body {
    margin: 0 auto
}

.split{
    flex-direction: row;
    display: flex;
  }

.box1 {
  margin: 40px;
  width: 70%; 
  flex-direction: column;
  display: flex;
  }

.box2 {
  margin: 20px;
  margin-top: 40px;
  width: 30%;
  flex-direction: column;
  display: flex;
  align-items: center;
  }

.box3{
  width: 30%;
  margin: 20px;
  margin-top: 40px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.box22{
  margin-top: 20px;
  background-color: gray;
}

.placehold{
  content: url(https://cf.bstatic.com/xdata/images/hotel/max1024x768/266970766.jpg?k=a58d68c20c0189f3e89ca8a02898a11c0a617ef568eb69ba5eb3a61bafb6d86a&o=&hp=);
  margin-bottom: 20px;
}

.profilepic{
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  content: url(https://thispersondoesnotexist.com/image);
}

.accountpic{  
  width: 250px;
  height: 250px;
  content: url(https://thispersondoesnotexist.com/image);
}


.profiledesc{
  margin-top: 40px;

}